*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    scroll-behavior: smooth;
}
main{
    min-height: calc(100vh - 468px);
    background-color: whitesmoke;
}
.carousel-item{
    height: 25vh;
    text-align: center;
}

[data-banner="1"]{
    background-color: crimson;
    color: white;
}
[data-banner="2"]{
    background-color: firebrick;
    color: white;
}
[data-banner="3"]{
    background-color: orangered;
    color: white;
}
ul, ol{
    list-style: none;
}
h2{
    color: crimson;
    font-weight: bolder;
}
h3{
    font-weight: bolder;
}
.crimsom{
    color: crimson;
}
footer{
    color: white;

    margin-top: 10px;
}

footer a{
    color: crimson;
}

footer .text-center{
    padding: 50px;
    margin: 0;
}